*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: green;
}

h1 {
    border: solid red 1px;
}

.node-container {
    width: 50%;
    margin: 5%;
    padding: 5%;
    border: solid red 2px;
    flex: 1;
}